<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Activity Center - SAC</title>
    <link rel="icon" href="/faviconn.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/home.css">

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <header class="header">
        <a href="http://www.diu.iiitvadodara.ac.in/">
          <img src="/sac images/logo.jpg" class="logo" height="50px" width="50px"></a>
    
          <nav class="navbar">
            <a href="http://localhost:3000">Home</a>
            <a href="">About </a>
            <a href="">Committee</a>
            <a href="">Members</a>
            <a href="">Clubs</a>
            <a href="">Events</a>
            <a href="">Equipments</a>
      
          </nav>
    
        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn"><a href="http://localhost:3000/extra" class="fas fa-search"></a></div>
      </div>
    
      </header>

      <br><br><br><br><br><br><br>
<h1 class="heading"> Get to know <span>SAC</span> More </h1>
<div class="container">
    <div class="tables_list">
        <label for="tables">Choose a Table</label>
        <select class="dropdown" id="tables" name="tablelist" form="tableForm">
            <option>annual Budget</option>
            <option>total members</option>
            <option>total committee</option>
            <option>total clubs</option>
            <option>Upcoming Events</option>
        
        </select>
        <form method="get" action="/extra" id="tableForm">
            <input type="submit" id="showBtn" class="showBtn">
        </form>
    </div>


    <table>
        <h1><%= name%></h1>
        <tr>
            <% for (let i = 0; i < columns.length; i ++) { %>
                <th><%= columns[i].name %></th>
            <% } %>
        </tr>
        <% for (let i = 0; i < tuples.length; i ++ ) { %>
            <tr>
                <% for (let info in tuples[i] ) { %>

                        <td><%= tuples[i][info]%></td>       
                
                <% } %>
            </tr>
        <% } %>
    </table>


</div>
</body>
</html>